.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  background-color: #2b2b2b;
}

.section {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1050px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.btn {
  display: flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid #A259FF;
  color: #FFF;
  font-family: WorkSans-Medium;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  transition: all 0.5s linear;
}

.btn:hover {
  transform: scale(0.95);
}

@media (max-width: 1050px) {
  .container {
    max-width: 100%;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

}